[Desktop Entry]
Name=Mini Clock & STDOUT
Comment=Just clock with calendar & stdout area
Icon=clock
 
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=160,260
 
X-KDE-PluginInfo-Author=Ilya Ostapenko
X-KDE-PluginInfo-Email=ostapenko.public@gmail.com
X-KDE-PluginInfo-Website=http:
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Name=clockIN-n-stdOUT
X-KDE-PluginInfo-Version=0.7-1
 
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet
Type=Service
